.country-flag {
    background-image: url(/img/spritesheet/country-flag.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    height: 23px
}

.country-flag-liberia {
    background-position: 0 0
}

.country-flag-afghanistan {
    background-position: 0 -23px
}

.country-flag-algeria {
    background-position: 0 -46px
}

.country-flag-andorra {
    background-position: 0 -69px
}

.country-flag-antigua-and-barbuda {
    background-position: 0 -92px
}

.country-flag-argentina {
    background-position: 0 -115px
}

.country-flag-armenia {
    background-position: 0 -138px
}

.country-flag-australia {
    background-position: 0 -161px
}

.country-flag-austria {
    background-position: 0 -184px
}

.country-flag-azerbaijan {
    background-position: 0 -207px
}

.country-flag-bahamas {
    background-position: 0 -230px
}

.country-flag-bahrain {
    background-position: 0 -253px
}

.country-flag-bangladesh {
    background-position: 0 -276px
}

.country-flag-barbados {
    background-position: 0 -299px
}

.country-flag-belarus {
    background-position: 0 -322px
}

.country-flag-belgium {
    background-position: 0 -345px
}

.country-flag-belize {
    background-position: 0 -368px
}

.country-flag-benin {
    background-position: 0 -391px
}

.country-flag-bhutan {
    background-position: 0 -414px
}

.country-flag-bolivia {
    background-position: 0 -437px
}

.country-flag-bosnia-and-herzegovina {
    background-position: 0 -460px
}

.country-flag-botswana {
    background-position: 0 -483px
}

.country-flag-brazil {
    background-position: 0 -506px
}

.country-flag-brunei {
    background-position: 0 -529px
}

.country-flag-bulgaria {
    background-position: 0 -552px
}

.country-flag-burkina-faso {
    background-position: 0 -575px
}

.country-flag-burundi {
    background-position: 0 -598px
}

.country-flag-cambodia {
    background-position: 0 -621px
}

.country-flag-cameroon {
    background-position: 0 -644px
}

.country-flag-canada {
    background-position: 0 -667px
}

.country-flag-cape-verde {
    background-position: 0 -690px
}

.country-flag-central-african-republic {
    background-position: 0 -713px
}

.country-flag-chad {
    background-position: 0 -736px
}

.country-flag-chile {
    background-position: 0 -759px
}

.country-flag-china {
    background-position: 0 -782px
}

.country-flag-colombia {
    background-position: 0 -805px
}

.country-flag-comoros {
    background-position: 0 -828px
}

.country-flag-congo-kinshasa {
    background-position: 0 -851px
}

.country-flag-congo-brazzaville {
    background-position: 0 -874px
}

.country-flag-costa-rica {
    background-position: 0 -897px
}

.country-flag-cote-divoire {
    background-position: 0 -920px
}

.country-flag-croatia {
    background-position: 0 -943px
}

.country-flag-cuba {
    background-position: 0 -966px
}

.country-flag-cyprus {
    background-position: 0 -989px
}

.country-flag-czech-republic {
    background-position: 0 -1012px
}

.country-flag-denmark {
    background-position: 0 -1035px
}

.country-flag-djibouti {
    background-position: 0 -1058px
}

.country-flag-dominican-republic {
    background-position: 0 -1081px
}

.country-flag-dominica {
    background-position: 0 -1104px
}

.country-flag-east-timor {
    background-position: 0 -1127px
}

.country-flag-ecuador {
    background-position: 0 -1150px
}

.country-flag-egypt {
    background-position: 0 -1173px
}

.country-flag-el-salvador {
    background-position: 0 -1196px
}

.country-flag-equatorial-guinea {
    background-position: 0 -1219px
}

.country-flag-eritrea {
    background-position: 0 -1242px
}

.country-flag-estonia {
    background-position: 0 -1265px
}

.country-flag-ethiopia {
    background-position: 0 -1288px
}

.country-flag-fiji {
    background-position: 0 -1311px
}

.country-flag-finland {
    background-position: 0 -1334px
}

.country-flag-france {
    background-position: 0 -1357px
}

.country-flag-gabon {
    background-position: 0 -1380px
}

.country-flag-gambia {
    background-position: 0 -1403px
}

.country-flag-georgia {
    background-position: 0 -1426px
}

.country-flag-germany {
    background-position: 0 -1449px
}

.country-flag-ghana {
    background-position: 0 -1472px
}

.country-flag-greece {
    background-position: 0 -1495px
}

.country-flag-grenada {
    background-position: 0 -1518px
}

.country-flag-guatemala {
    background-position: 0 -1541px
}

.country-flag-guinea-bissau {
    background-position: 0 -1564px
}

.country-flag-guinea {
    background-position: 0 -1587px
}

.country-flag-guyana {
    background-position: 0 -1610px
}

.country-flag-haiti {
    background-position: 0 -1633px
}

.country-flag-honduras {
    background-position: 0 -1656px
}

.country-flag-hungary {
    background-position: 0 -1679px
}

.country-flag-iceland {
    background-position: 0 -1702px
}

.country-flag-india {
    background-position: 0 -1725px
}

.country-flag-indonesia {
    background-position: 0 -1748px
}

.country-flag-iran {
    background-position: 0 -1771px
}

.country-flag-iraq {
    background-position: 0 -1794px
}

.country-flag-ireland {
    background-position: 0 -1817px
}

.country-flag-israel {
    background-position: 0 -1840px
}

.country-flag-italy {
    background-position: 0 -1863px
}

.country-flag-jamaica {
    background-position: 0 -1886px
}

.country-flag-japan {
    background-position: 0 -1909px
}

.country-flag-jordan {
    background-position: 0 -1932px
}

.country-flag-kazakhstan {
    background-position: 0 -1955px
}

.country-flag-kenya {
    background-position: 0 -1978px
}

.country-flag-kiribati {
    background-position: 0 -2001px
}

.country-flag-north-korea {
    background-position: 0 -2024px
}

.country-flag-south-korea {
    background-position: 0 -2047px
}

.country-flag-kosovo {
    background-position: 0 -2070px
}

.country-flag-kuwait {
    background-position: 0 -2093px
}

.country-flag-kyrgyzstan {
    background-position: 0 -2116px
}

.country-flag-laos {
    background-position: 0 -2139px
}

.country-flag-latvia {
    background-position: 0 -2162px
}

.country-flag-lebanon {
    background-position: 0 -2185px
}

.country-flag-lesotho {
    background-position: 0 -2208px
}

.country-flag-albania {
    background-position: 0 -2231px
}

.country-flag-libya {
    background-position: 0 -2254px
}

.country-flag-liechtenstein {
    background-position: 0 -2277px
}

.country-flag-lithuania {
    background-position: 0 -2300px
}

.country-flag-luxembourg {
    background-position: 0 -2323px
}

.country-flag-macedonia {
    background-position: 0 -2346px
}

.country-flag-madagascar {
    background-position: 0 -2369px
}

.country-flag-malawi {
    background-position: 0 -2392px
}

.country-flag-malaysia {
    background-position: 0 -2415px
}

.country-flag-maldives {
    background-position: 0 -2438px
}

.country-flag-mali {
    background-position: 0 -2461px
}

.country-flag-malta {
    background-position: 0 -2484px
}

.country-flag-marshall-islands {
    background-position: 0 -2507px
}

.country-flag-mauritania {
    background-position: 0 -2530px
}

.country-flag-mauritius {
    background-position: 0 -2553px
}

.country-flag-mexico {
    background-position: 0 -2576px
}

.country-flag-micronesia {
    background-position: 0 -2599px
}

.country-flag-moldova {
    background-position: 0 -2622px
}

.country-flag-monaco {
    background-position: 0 -2645px
}

.country-flag-mongolia {
    background-position: 0 -2668px
}

.country-flag-montenegro {
    background-position: 0 -2691px
}

.country-flag-morocco {
    background-position: 0 -2714px
}

.country-flag-mozambique {
    background-position: 0 -2737px
}

.country-flag-myanmar {
    background-position: 0 -2760px
}

.country-flag-namibia {
    background-position: 0 -2783px
}

.country-flag-nauru {
    background-position: 0 -2806px
}

.country-flag-nepal {
    background-position: 0 -2829px
}

.country-flag-netherlands {
    background-position: 0 -2852px
}

.country-flag-new-zealand {
    background-position: 0 -2875px
}

.country-flag-nicaragua {
    background-position: 0 -2898px
}

.country-flag-nigeria {
    background-position: 0 -2921px
}

.country-flag-niger {
    background-position: 0 -2944px
}

.country-flag-norway {
    background-position: 0 -2967px
}

.country-flag-oman {
    background-position: 0 -2990px
}

.country-flag-pakistan {
    background-position: 0 -3013px
}

.country-flag-palau {
    background-position: 0 -3036px
}

.country-flag-panama {
    background-position: 0 -3059px
}

.country-flag-papua-new-guinea {
    background-position: 0 -3082px
}

.country-flag-paraguay {
    background-position: 0 -3105px
}

.country-flag-peru {
    background-position: 0 -3128px
}

.country-flag-philippines {
    background-position: 0 -3151px
}

.country-flag-poland {
    background-position: 0 -3174px
}

.country-flag-portugal {
    background-position: 0 -3197px
}

.country-flag-qatar {
    background-position: 0 -3220px
}

.country-flag-romania {
    background-position: 0 -3243px
}

.country-flag-russia {
    background-position: 0 -3266px
}

.country-flag-rwanda {
    background-position: 0 -3289px
}

.country-flag-saint-kitts-and-nevis {
    background-position: 0 -3312px
}

.country-flag-saint-lucia {
    background-position: 0 -3335px
}

.country-flag-saint-vincent-and-the-grenadines {
    background-position: 0 -3358px
}

.country-flag-samoa {
    background-position: 0 -3381px
}

.country-flag-san-marino {
    background-position: 0 -3404px
}

.country-flag-sao-tome-and-principe {
    background-position: 0 -3427px
}

.country-flag-saudi-arabia {
    background-position: 0 -3450px
}

.country-flag-senegal {
    background-position: 0 -3473px
}

.country-flag-serbia {
    background-position: 0 -3496px
}

.country-flag-seychelles {
    background-position: 0 -3519px
}

.country-flag-sierra-leone {
    background-position: 0 -3542px
}

.country-flag-singapore {
    background-position: 0 -3565px
}

.country-flag-slovakia {
    background-position: 0 -3588px
}

.country-flag-slovenia {
    background-position: 0 -3611px
}

.country-flag-solomon-islands {
    background-position: 0 -3634px
}

.country-flag-somalia {
    background-position: 0 -3657px
}

.country-flag-south-africa {
    background-position: 0 -3680px
}

.country-flag-south-sudan {
    background-position: 0 -3703px
}

.country-flag-spain {
    background-position: 0 -3726px
}

.country-flag-sri-lanka {
    background-position: 0 -3749px
}

.country-flag-sudan {
    background-position: 0 -3772px
}

.country-flag-suriname {
    background-position: 0 -3795px
}

.country-flag-swaziland {
    background-position: 0 -3818px
}

.country-flag-sweden {
    background-position: 0 -3841px
}

.country-flag-switzerland {
    background-position: 0 -3864px
}

.country-flag-syria {
    background-position: 0 -3887px
}

.country-flag-taiwan {
    background-position: 0 -3910px
}

.country-flag-tajikistan {
    background-position: 0 -3933px
}

.country-flag-tanzania {
    background-position: 0 -3956px
}

.country-flag-thailand {
    background-position: 0 -3979px
}

.country-flag-togo {
    background-position: 0 -4002px
}

.country-flag-tonga {
    background-position: 0 -4025px
}

.country-flag-trinidad-and-tobago {
    background-position: 0 -4048px
}

.country-flag-tunisia {
    background-position: 0 -4071px
}

.country-flag-turkey {
    background-position: 0 -4094px
}

.country-flag-turkmenistan {
    background-position: 0 -4117px
}

.country-flag-tuvalu {
    background-position: 0 -4140px
}

.country-flag-uganda {
    background-position: 0 -4163px
}

.country-flag-ukraine {
    background-position: 0 -4186px
}

.country-flag-united-arab-emirates {
    background-position: 0 -4209px
}

.country-flag-united-kingdom {
    background-position: 0 -4232px
}

.country-flag-united-states {
    background-position: 0 -4255px
}

.country-flag-uruguay {
    background-position: 0 -4278px
}

.country-flag-uzbekistan {
    background-position: 0 -4301px
}

.country-flag-vanuatu {
    background-position: 0 -4324px
}

.country-flag-vatican-city {
    background-position: 0 -4347px
}

.country-flag-venezuela {
    background-position: 0 -4370px
}

.country-flag-vietnam {
    background-position: 0 -4393px
}

.country-flag-yemen {
    background-position: 0 -4416px
}

.country-flag-zambia {
    background-position: 0 -4439px
}

.country-flag-zimbabwe {
    background-position: 0 -4462px
}

.country-flag-small {
    background-image: url(/img/spritesheet/country-flag-small.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px
}

.country-flag-small-luxembourg {
    background-position: 0 0
}

.country-flag-small-abkhazia {
    background-position: 0 -24px
}

.country-flag-small-aland {
    background-position: 0 -48px
}

.country-flag-small-albania {
    background-position: 0 -72px
}

.country-flag-small-algeria {
    background-position: 0 -96px
}

.country-flag-small-american-samoa {
    background-position: 0 -120px
}

.country-flag-small-andorra {
    background-position: 0 -144px
}

.country-flag-small-angola {
    background-position: 0 -168px
}

.country-flag-small-anguilla {
    background-position: 0 -192px
}

.country-flag-small-antarctica {
    background-position: 0 -216px
}

.country-flag-small-antigua-and-barbuda {
    background-position: 0 -240px
}

.country-flag-small-argentina {
    background-position: 0 -264px
}

.country-flag-small-armenia {
    background-position: 0 -288px
}

.country-flag-small-aruba {
    background-position: 0 -312px
}

.country-flag-small-australia {
    background-position: 0 -336px
}

.country-flag-small-austria {
    background-position: 0 -360px
}

.country-flag-small-azerbaijan {
    background-position: 0 -384px
}

.country-flag-small-bahamas {
    background-position: 0 -408px
}

.country-flag-small-bahrain {
    background-position: 0 -432px
}

.country-flag-small-bangladesh {
    background-position: 0 -456px
}

.country-flag-small-barbados {
    background-position: 0 -480px
}

.country-flag-small-basque-country {
    background-position: 0 -504px
}

.country-flag-small-belarus {
    background-position: 0 -528px
}

.country-flag-small-belgium {
    background-position: 0 -552px
}

.country-flag-small-belize {
    background-position: 0 -576px
}

.country-flag-small-benin {
    background-position: 0 -600px
}

.country-flag-small-bermuda {
    background-position: 0 -624px
}

.country-flag-small-bhutan {
    background-position: 0 -648px
}

.country-flag-small-bolivia {
    background-position: 0 -672px
}

.country-flag-small-bosnia-and-herzegovina {
    background-position: 0 -696px
}

.country-flag-small-botswana {
    background-position: 0 -720px
}

.country-flag-small-brazil {
    background-position: 0 -744px
}

.country-flag-small-british-antarctic-territory {
    background-position: 0 -768px
}

.country-flag-small-british-virgin-islands {
    background-position: 0 -792px
}

.country-flag-small-brunei {
    background-position: 0 -816px
}

.country-flag-small-bulgaria {
    background-position: 0 -840px
}

.country-flag-small-burkina-faso {
    background-position: 0 -864px
}

.country-flag-small-burundi {
    background-position: 0 -888px
}

.country-flag-small-cambodia {
    background-position: 0 -912px
}

.country-flag-small-cameroon {
    background-position: 0 -936px
}

.country-flag-small-canada {
    background-position: 0 -960px
}

.country-flag-small-canary-islands {
    background-position: 0 -984px
}

.country-flag-small-cape-verde {
    background-position: 0 -1008px
}

.country-flag-small-cayman-islands {
    background-position: 0 -1032px
}

.country-flag-small-central-african-republic {
    background-position: 0 -1056px
}

.country-flag-small-chad {
    background-position: 0 -1080px
}

.country-flag-small-chile {
    background-position: 0 -1104px
}

.country-flag-small-china {
    background-position: 0 -1128px
}

.country-flag-small-christmas-island {
    background-position: 0 -1152px
}

.country-flag-small-cocos-keeling-islands {
    background-position: 0 -1176px
}

.country-flag-small-colombia {
    background-position: 0 -1200px
}

.country-flag-small-commonwealth {
    background-position: 0 -1224px
}

.country-flag-small-comoros {
    background-position: 0 -1248px
}

.country-flag-small-cook-islands {
    background-position: 0 -1272px
}

.country-flag-small-costa-rica {
    background-position: 0 -1296px
}

.country-flag-small-cote-divoire {
    background-position: 0 -1320px
}

.country-flag-small-croatia {
    background-position: 0 -1344px
}

.country-flag-small-cuba {
    background-position: 0 -1368px
}

.country-flag-small-curacao {
    background-position: 0 -1392px
}

.country-flag-small-cyprus {
    background-position: 0 -1416px
}

.country-flag-small-czech-republic {
    background-position: 0 -1440px
}

.country-flag-small-democratic-republic-of-the-congo {
    background-position: 0 -1464px
}

.country-flag-small-denmark {
    background-position: 0 -1488px
}

.country-flag-small-djibouti {
    background-position: 0 -1512px
}

.country-flag-small-dominica {
    background-position: 0 -1536px
}

.country-flag-small-dominican-republic {
    background-position: 0 -1560px
}

.country-flag-small-east-timor {
    background-position: 0 -1584px
}

.country-flag-small-ecuador {
    background-position: 0 -1608px
}

.country-flag-small-egypt {
    background-position: 0 -1632px
}

.country-flag-small-el-salvador {
    background-position: 0 -1656px
}

.country-flag-small-england {
    background-position: 0 -1680px
}

.country-flag-small-equatorial-guinea {
    background-position: 0 -1704px
}

.country-flag-small-eritrea {
    background-position: 0 -1728px
}

.country-flag-small-estonia {
    background-position: 0 -1752px
}

.country-flag-small-ethiopia {
    background-position: 0 -1776px
}

.country-flag-small-european-union {
    background-position: 0 -1800px
}

.country-flag-small-falkland-islands {
    background-position: 0 -1824px
}

.country-flag-small-faroes {
    background-position: 0 -1848px
}

.country-flag-small-fiji {
    background-position: 0 -1872px
}

.country-flag-small-finland {
    background-position: 0 -1896px
}

.country-flag-small-france {
    background-position: 0 -1920px
}

.country-flag-small-french-polynesia {
    background-position: 0 -1944px
}

.country-flag-small-french-southern-territories {
    background-position: 0 -1968px
}

.country-flag-small-gabon {
    background-position: 0 -1992px
}

.country-flag-small-gambia {
    background-position: 0 -2016px
}

.country-flag-small-georgia {
    background-position: 0 -2040px
}

.country-flag-small-germany {
    background-position: 0 -2064px
}

.country-flag-small-ghana {
    background-position: 0 -2088px
}

.country-flag-small-gibraltar {
    background-position: 0 -2112px
}

.country-flag-small-gosquared {
    background-position: 0 -2136px
}

.country-flag-small-greece {
    background-position: 0 -2160px
}

.country-flag-small-greenland {
    background-position: 0 -2184px
}

.country-flag-small-grenada {
    background-position: 0 -2208px
}

.country-flag-small-guam {
    background-position: 0 -2232px
}

.country-flag-small-guatemala {
    background-position: 0 -2256px
}

.country-flag-small-guernsey {
    background-position: 0 -2280px
}

.country-flag-small-guinea-bissau {
    background-position: 0 -2304px
}

.country-flag-small-guinea {
    background-position: 0 -2328px
}

.country-flag-small-guyana {
    background-position: 0 -2352px
}

.country-flag-small-haiti {
    background-position: 0 -2376px
}

.country-flag-small-honduras {
    background-position: 0 -2400px
}

.country-flag-small-hong-kong-sar-china {
    background-position: 0 -2424px
}

.country-flag-small-hungary {
    background-position: 0 -2448px
}

.country-flag-small-iceland {
    background-position: 0 -2472px
}

.country-flag-small-india {
    background-position: 0 -2496px
}

.country-flag-small-indonesia {
    background-position: 0 -2520px
}

.country-flag-small-iran {
    background-position: 0 -2544px
}

.country-flag-small-iraq {
    background-position: 0 -2568px
}

.country-flag-small-ireland {
    background-position: 0 -2592px
}

.country-flag-small-isle-of-man {
    background-position: 0 -2616px
}

.country-flag-small-israel {
    background-position: 0 -2640px
}

.country-flag-small-italy {
    background-position: 0 -2664px
}

.country-flag-small-jamaica {
    background-position: 0 -2688px
}

.country-flag-small-japan {
    background-position: 0 -2712px
}

.country-flag-small-jersey {
    background-position: 0 -2736px
}

.country-flag-small-jordan {
    background-position: 0 -2760px
}

.country-flag-small-kazakhstan {
    background-position: 0 -2784px
}

.country-flag-small-kenya {
    background-position: 0 -2808px
}

.country-flag-small-kiribati {
    background-position: 0 -2832px
}

.country-flag-small-kosovo {
    background-position: 0 -2856px
}

.country-flag-small-kuwait {
    background-position: 0 -2880px
}

.country-flag-small-kyrgyzstan {
    background-position: 0 -2904px
}

.country-flag-small-laos {
    background-position: 0 -2928px
}

.country-flag-small-latvia {
    background-position: 0 -2952px
}

.country-flag-small-lebanon {
    background-position: 0 -2976px
}

.country-flag-small-lesotho {
    background-position: 0 -3000px
}

.country-flag-small-liberia {
    background-position: 0 -3024px
}

.country-flag-small-libya {
    background-position: 0 -3048px
}

.country-flag-small-liechtenstein {
    background-position: 0 -3072px
}

.country-flag-small-lithuania {
    background-position: 0 -3096px
}

.country-flag-small-afghanistan {
    background-position: 0 -3120px
}

.country-flag-small-macau {
    background-position: 0 -3144px
}

.country-flag-small-macedonia {
    background-position: 0 -3168px
}

.country-flag-small-madagascar {
    background-position: 0 -3192px
}

.country-flag-small-malawi {
    background-position: 0 -3216px
}

.country-flag-small-malaysia {
    background-position: 0 -3240px
}

.country-flag-small-maldives {
    background-position: 0 -3264px
}

.country-flag-small-mali {
    background-position: 0 -3288px
}

.country-flag-small-malta {
    background-position: 0 -3312px
}

.country-flag-small-mars {
    background-position: 0 -3336px
}

.country-flag-small-marshall-islands {
    background-position: 0 -3360px
}

.country-flag-small-martinique {
    background-position: 0 -3384px
}

.country-flag-small-mauritania {
    background-position: 0 -3408px
}

.country-flag-small-mauritius {
    background-position: 0 -3432px
}

.country-flag-small-mayotte {
    background-position: 0 -3456px
}

.country-flag-small-mexico {
    background-position: 0 -3480px
}

.country-flag-small-micronesia {
    background-position: 0 -3504px
}

.country-flag-small-moldova {
    background-position: 0 -3528px
}

.country-flag-small-monaco {
    background-position: 0 -3552px
}

.country-flag-small-mongolia {
    background-position: 0 -3576px
}

.country-flag-small-montenegro {
    background-position: 0 -3600px
}

.country-flag-small-montserrat {
    background-position: 0 -3624px
}

.country-flag-small-morocco {
    background-position: 0 -3648px
}

.country-flag-small-mozambique {
    background-position: 0 -3672px
}

.country-flag-small-myanmar {
    background-position: 0 -3696px
}

.country-flag-small-nato {
    background-position: 0 -3720px
}

.country-flag-small-nagorno-karabakh {
    background-position: 0 -3744px
}

.country-flag-small-namibia {
    background-position: 0 -3768px
}

.country-flag-small-nauru {
    background-position: 0 -3792px
}

.country-flag-small-nepal {
    background-position: 0 -3816px
}

.country-flag-small-netherlands-antilles {
    background-position: 0 -3840px
}

.country-flag-small-netherlands {
    background-position: 0 -3864px
}

.country-flag-small-new-caledonia {
    background-position: 0 -3888px
}

.country-flag-small-new-zealand {
    background-position: 0 -3912px
}

.country-flag-small-nicaragua {
    background-position: 0 -3936px
}

.country-flag-small-niger {
    background-position: 0 -3960px
}

.country-flag-small-nigeria {
    background-position: 0 -3984px
}

.country-flag-small-niue {
    background-position: 0 -4008px
}

.country-flag-small-norfolk-island {
    background-position: 0 -4032px
}

.country-flag-small-north-korea {
    background-position: 0 -4056px
}

.country-flag-small-northern-cyprus {
    background-position: 0 -4080px
}

.country-flag-small-northern-mariana-islands {
    background-position: 0 -4104px
}

.country-flag-small-norway {
    background-position: 0 -4128px
}

.country-flag-small-olympics {
    background-position: 0 -4152px
}

.country-flag-small-oman {
    background-position: 0 -4176px
}

.country-flag-small-pakistan {
    background-position: 0 -4200px
}

.country-flag-small-palau {
    background-position: 0 -4224px
}

.country-flag-small-palestine {
    background-position: 0 -4248px
}

.country-flag-small-panama {
    background-position: 0 -4272px
}

.country-flag-small-papua-new-guinea {
    background-position: 0 -4296px
}

.country-flag-small-paraguay {
    background-position: 0 -4320px
}

.country-flag-small-peru {
    background-position: 0 -4344px
}

.country-flag-small-philippines {
    background-position: 0 -4368px
}

.country-flag-small-pitcairn-islands {
    background-position: 0 -4392px
}

.country-flag-small-poland {
    background-position: 0 -4416px
}

.country-flag-small-portugal {
    background-position: 0 -4440px
}

.country-flag-small-puerto-rico {
    background-position: 0 -4464px
}

.country-flag-small-qatar {
    background-position: 0 -4488px
}

.country-flag-small-red-cross {
    background-position: 0 -4512px
}

.country-flag-small-republic-of-the-congo {
    background-position: 0 -4536px
}

.country-flag-small-romania {
    background-position: 0 -4560px
}

.country-flag-small-russia {
    background-position: 0 -4584px
}

.country-flag-small-rwanda {
    background-position: 0 -4608px
}

.country-flag-small-saint-barthelemy {
    background-position: 0 -4632px
}

.country-flag-small-saint-helena {
    background-position: 0 -4656px
}

.country-flag-small-saint-kitts-and-nevis {
    background-position: 0 -4680px
}

.country-flag-small-saint-lucia {
    background-position: 0 -4704px
}

.country-flag-small-saint-martin {
    background-position: 0 -4728px
}

.country-flag-small-saint-vincent-and-the-grenadines {
    background-position: 0 -4752px
}

.country-flag-small-samoa {
    background-position: 0 -4776px
}

.country-flag-small-san-marino {
    background-position: 0 -4800px
}

.country-flag-small-sao-tome-and-principe {
    background-position: 0 -4824px
}

.country-flag-small-saudi-arabia {
    background-position: 0 -4848px
}

.country-flag-small-scotland {
    background-position: 0 -4872px
}

.country-flag-small-senegal {
    background-position: 0 -4896px
}

.country-flag-small-serbia {
    background-position: 0 -4920px
}

.country-flag-small-seychelles {
    background-position: 0 -4944px
}

.country-flag-small-sierra-leone {
    background-position: 0 -4968px
}

.country-flag-small-singapore {
    background-position: 0 -4992px
}

.country-flag-small-slovakia {
    background-position: 0 -5016px
}

.country-flag-small-slovenia {
    background-position: 0 -5040px
}

.country-flag-small-solomon-islands {
    background-position: 0 -5064px
}

.country-flag-small-somalia {
    background-position: 0 -5088px
}

.country-flag-small-somaliland {
    background-position: 0 -5112px
}

.country-flag-small-south-africa {
    background-position: 0 -5136px
}

.country-flag-small-south-georgia-and-the-south-sandwich-islands {
    background-position: 0 -5160px
}

.country-flag-small-south-korea {
    background-position: 0 -5184px
}

.country-flag-small-south-ossetia {
    background-position: 0 -5208px
}

.country-flag-small-south-sudan {
    background-position: 0 -5232px
}

.country-flag-small-spain {
    background-position: 0 -5256px
}

.country-flag-small-sri-lanka {
    background-position: 0 -5280px
}

.country-flag-small-sudan {
    background-position: 0 -5304px
}

.country-flag-small-suriname {
    background-position: 0 -5328px
}

.country-flag-small-swaziland {
    background-position: 0 -5352px
}

.country-flag-small-sweden {
    background-position: 0 -5376px
}

.country-flag-small-switzerland {
    background-position: 0 -5400px
}

.country-flag-small-syria {
    background-position: 0 -5424px
}

.country-flag-small-taiwan {
    background-position: 0 -5448px
}

.country-flag-small-tajikistan {
    background-position: 0 -5472px
}

.country-flag-small-tanzania {
    background-position: 0 -5496px
}

.country-flag-small-thailand {
    background-position: 0 -5520px
}

.country-flag-small-togo {
    background-position: 0 -5544px
}

.country-flag-small-tokelau {
    background-position: 0 -5568px
}

.country-flag-small-tonga {
    background-position: 0 -5592px
}

.country-flag-small-trinidad-and-tobago {
    background-position: 0 -5616px
}

.country-flag-small-tunisia {
    background-position: 0 -5640px
}

.country-flag-small-turkey {
    background-position: 0 -5664px
}

.country-flag-small-turkmenistan {
    background-position: 0 -5688px
}

.country-flag-small-turks-and-caicos-islands {
    background-position: 0 -5712px
}

.country-flag-small-tuvalu {
    background-position: 0 -5736px
}

.country-flag-small-us-virgin-islands {
    background-position: 0 -5760px
}

.country-flag-small-uganda {
    background-position: 0 -5784px
}

.country-flag-small-ukraine {
    background-position: 0 -5808px
}

.country-flag-small-united-arab-emirates {
    background-position: 0 -5832px
}

.country-flag-small-united-kingdom {
    background-position: 0 -5856px
}

.country-flag-small-united-nations {
    background-position: 0 -5880px
}

.country-flag-small-united-states {
    background-position: 0 -5904px
}

.country-flag-small-unknown {
    background-position: 0 -5928px
}

.country-flag-small-uruguay {
    background-position: 0 -5952px
}

.country-flag-small-uzbekistan {
    background-position: 0 -5976px
}

.country-flag-small-vanuatu {
    background-position: 0 -6000px
}

.country-flag-small-vatican-city {
    background-position: 0 -6024px
}

.country-flag-small-venezuela {
    background-position: 0 -6048px
}

.country-flag-small-vietnam {
    background-position: 0 -6072px
}

.country-flag-small-wales {
    background-position: 0 -6096px
}

.country-flag-small-wallis-and-futuna {
    background-position: 0 -6120px
}

.country-flag-small-western-sahara {
    background-position: 0 -6144px
}

.country-flag-small-yemen {
    background-position: 0 -6168px
}

.country-flag-small-zambia {
    background-position: 0 -6192px
}

.country-flag-small-zimbabwe {
    background-position: 0 -6216px
}