.Footer{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    background: #292b2c url("../media/gaming-pattern.png") repeat fixed center;
    border-top: 10px solid #5bb7db;
    margin-top: 80px;
}
/* .appSummary, .verticalMenu, .contactSupport{
    background-color: #1d1d1d;
    padding: 10px 20px;
    border-radius: 4px;
} */
.appSummary, .verticalMenu{
    border-right: 1px solid #A3A3A3;
    min-height: 100%;
}
.appSummary-logo{
    background-image: url(../media/common/logo_sprite.png);
    background-position: -483px -25px;
    width: 200px;
    height: 50px;
    opacity: 0.9;
    cursor: pointer;
}
.appSummary-logo:hover{
    opacity: 1;
}
.verticalMenu ul{
    list-style-type: none;
    padding: 0px;
}
.verticalMenu ul>li>a{
    color: white;
}
.verticalMenu ul>li>a:hover{
    text-decoration: none;
    color: #5bb7db;
}