.HomePage{
    padding-top: 250px;
}
.HomePage ul>li {
    font-size: 2em;
    padding-top: 0.8em;
    padding-left: em;
}
.HomePage button{
    margin-top: 210px;
    cursor: pointer;
    text-transform: uppercase;
    height: 70px;
}