.PostPage{
    background-color: #252525;
    padding: 50px 20px;
}
.PostPage-role > span {
    padding: 0px 20px;
    margin: 5px 0px;
}

.PostPage .form-group {
    padding: 20px 0px;
    border-bottom: 1px solid #3e3e3e;
}