.Profile{
    padding: 0px 120px;
}
.Profile .tab-content{
    margin-top: 10px;
}
.Profile-header{
    background-color: #1f1f1f;
}
.ProfileAvatar{
    text-align: center;
    padding: 30px 20px;
}
.ProfileAvatar-header > img{
    border-radius: 50%;
    border: 1px solid white;
    width: 80px;
    height: 80px;
}
.Profile-header .RatingStars{
    display: block;
    padding: 100px 0px;
}

.ProfileReview{
    padding-top: 10px;
}
.ProfileReview-header{
    padding: 20px;
    background-color: #252525;
}
.ProfileReview-header > span{
    padding: 10px;
}
.ProfileReview-body{
    padding: 20px;
    background-color: #1b1b1b;
    word-wrap: break-word;
}
.ProfileReview-footer{
    padding: 10px 10px 50px 20px;
    background-color: #252525;
}

.ProfileReview-body > span{
    display: block;
    padding: 0px 10px;
}

.ProfileGameCard{
    background-size: cover;
    min-width: 100%;
    min-height: 400px;
    background-position: -200px;
    text-align: center;
}
.ProfileGameCard-bg-dota2{
    background: url(../media/gameCardDota2.jpg) no-repeat center center;
}
.ProfileGameCard-bg-csgo{
    background: url(../media/gameCardCsgo.jpg) no-repeat center center;    
}
.ProfileGameCard-bg-lol{
    background: url(../media/gameCardLol.jpg) no-repeat center center;
}
.ProfileGameCard-body{
    padding-top: 60px;
}
.ProfileGameCard-avatar > img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 4px solid white;
}
.ProfileGameCard-rankImg > img{
    height: 50px;
    width: 50px;
}
.ProfileGameCard-link>a{
    color: #ff4848;
}
.ProfileGameCard-link>a:hover{
    color: #FFA5A5;
}

.ProfileExperience{
    margin-top: 20px;
}
.ProfileExperience-header{
    padding: 10px 15px;
    background-color: #252525;
}
.ProfileExperience-body{
    padding: 10px 15px;
    background-color: #1b1b1b;
}
.ProfileExperience-footer{
    padding: 10px 15px;
    background-color: #252525;
}

.ProfileGame{
    margin-top: 20px;
}
.ProfileGameRoleItem{
    padding: 5px 15px;
    background-color: #1b1b1b;
}
.ProfileGameRoleItem > span {
    padding-left: 10px;
}
.ProfileGame-text{
    padding: 10px 15px;
    background-color: #1b1b1b;
}
.ProfileGame-availability, .ProfileGame-mode, .ProfileGame-region, .ProfileGame-role{
   background-color: #252525;
   margin-top: 15px;
}

.ProfileGame-availability > h5, .ProfileGame-mode > h5, .ProfileGame-region > h5, .ProfileGame-role > h5{
    padding: 10px 15px;
    margin: 0;
}


.ProfileComment{
    padding: 10px 15px 50px 15px;
    background-color: #1b1b1b;
}
.ProfileComment-header {
    padding: 20px;
    background-color: #252525;
}
.ProfileComment-body {
    padding: 0px 0px 10px 0px;
}


.Avatar{
    display: inline-block;
}
.Avatar > img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.Avatar > span{
    margin-left: 5px;
}