@import url("flags.css");


.PostCard{
  height: 330px;
  width: 215px;;
  background-color: rgba(0,0,0,0.8);
  margin: 10px;
  position: relative;
  padding: 10px;
  transition: all .2s ease-in-out;
  box-shadow: inset 0px 0px 11px 6px rgba(91, 183, 219, 0.3);
}
.PostCard:hover{
  transform: scale(1.03);
  box-shadow: inset 0px 0px 11px 6px rgba(91, 183, 219, 0.4);
}

.PostCard-content{
  padding: 5px;
}
.PostCard-header{
  overflow:auto;
  padding: 5px 0px;
}
.PostCard-header-country{
  float: left;
}

.PostCard-header-rank{
  float: right;
}
.PostCard-body{
  padding: 15px;
  /* background-color: orange; */
  width: 100%;
  /* overflow:auto; */
}
.PostCard-body-profileImg > img{
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;
  display: block;
}
.PostCard-body-profileName, .PostCard-body-profileInterest{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}
.PostCard-body-profileInterest{
  max-height: 55px;
  min-height: 55px;
  font-style: italic;
  color: #dddddd;
  overflow: hidden;
}
.PostCard-body-gameRole{
  text-align: center;
  padding-top: 20px;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}
.PostCard-body-gameRole > img {
  padding: 1px;
  margin-left: 1px;
}
.PostCard-footer button{
  padding: 0.50rem .4rem;
  margin: 0px 1px;
  font-size: .875rem;
  border-radius: .2rem;
}
.SearchForm .form-check{
  background-color: #3a3a3a;
  padding: 5px;
}

/*DOTA GAME ROLES*/

.dota2-role{
    background-image: url(../media/common/dota2-role.png);
    background-repeat: no-repeat;
    display: inline-block;
}

/*DOTA2 ROlE SIZE SM*/

.dota2-role.sm {
    background-size: 30px;
    width: 30px;
    height: 30px
}

.dota2-role.sm.offline{
    background-position: 0 0
}

.dota2-role.sm.mid{
    background-position: 0 -30px
}

.dota2-role.sm.support{
    background-position: 0 -60px
}

.dota2-role.sm.farming_support{
    background-position: 0 -90px
}

.dota2-role.sm.cary{
    background-position: 0 -120px
}

/*DOTA2 ROlE SIZE MD*/

.dota2-role.md{
  background-size: 60px;
  width: 60px;
  height: 60px
}

.dota2-role.md.offline{
  background-position: 0 0
}

.dota2-role.md.mid{
  background-position: 0 -60px
}

.dota2-role.md.support{
  background-position: 0 -120px
}

.dota2-role.md.farming_support{
  background-position: 0 -180px
}

.dota2-role.md.cary{
  background-position: 0 -240px
}

/*LOL GAME ROLES*/

.lol-role{
  background-image: url(../media/common/lol-role.png);
  background-repeat: no-repeat;
  display: inline-block;
}

/*LOL ROLE SIZE SM*/

.lol-role.sm {
  background-size: 30px;
  width: 30px;
  height: 30px
}

.lol-role.sm.jungle{
  background-position: 0 0
}

.lol-role.sm.fill{
  background-position: 0 -30px
}

.lol-role.sm.support{
  background-position: 0 -60px
}

.lol-role.sm.adc{
  background-position: 0 -90px
}

.lol-role.sm.mid{
  background-position: 0 -120px
}

.lol-role.sm.top{
  background-position: 0 -150px
}

.lol-role.sm.jungle{
  background-position: 0 -180
}

/*LOL ROLE SIZE MD*/

.lol-role.md{
  background-size: 60px;
  width: 60px;
  height: 60px
}

.lol-role.md.fill{
  background-position: 0 0px
}

.lol-role.md.support {
  background-position: 0 -60px
}

.lol-role.md.support{
  background-position: 0 -120px
}

.lol-role.md.mid{
  background-position: 0 -180px
}

.lol-role.md.top{
  background-position: 0 -240px
}

.lol-role.sm.jungle{
  background-position: 0 -300
}

/*CSGO ROLE*/
.csgo-role{
  background-image: url(../media/common/csgo-role.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.csgo-role.sm {
  background-size: 30px;
  width: 30px;
  height: 30px
}

.csgo-role.sm.lurker {
  background-position: 0 0
}

.csgo-role.sm.rifler {
  background-position: 0 -30px
}

.csgo-role.sm.igl {
  background-position: 0 -60px
}

.csgo-role.sm.supporter {
  background-position: 0 -90px
}

.csgo-role.sm.awp {
  background-position: 0 -120px
}

.csgo-role.sm.fragger {
  background-position: 0 -150px
}

/* CSGO ROLE SIZE MD*/

.csgo-role.md{
  background-size: 60px;
  width: 60px;
  height: 60px
}

.csgo-role.md.lurker {
  background-position: 0 0
}

.csgo-role.md.rifler {
  background-position: 0 -60px
}

.csgo-role.md.igl {
  background-position: 0 -120px
}

.csgo-role.md.supporter {
  background-position: 0 -180px
}

.csgo-role.md.awp {
  background-position: 0 -240px
}

.csgo-role.md.fragger {
  background-position: 0 -300px
}



/*CSGO RANK TODO POSITION*/
.csgo-rank{
  background-image: url(../media/common/csgo-rank.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.csgo-rank.md{
  background-size: 60px;
  width: 60px;
  height: 60px
}

.csgo-rank.sm {
  background-size: 30px;
  width: 60px;
  height: 40px
}

.csgo-rank.sm.silver-i {
  background-position: 0 0
}

.csgo-rank.sm.silver-ii {
  background-position: 0 -30px
}

.csgo-rank.sm.silver-ii {
  background-position: 0 -60px
}

.csgo-rank.sm.silver-iv {
  background-position: 0 -90px
}

.csgo-rank.sm.gold-nova-i {
  background-position: 0 -120px
}

.csgo-rank.sm.gold-nova-ii {
  background-position: 0 -120px
}

.csgo-rank.sm.gold-nova-iii {
  background-position: 0 -120px
}

.csgo-rank.sm.gold-nova-master {
  background-position: 0 -120px
}

.csgo-rank.sm.master-guardian-i {
  background-position: 0 -120px
}

.csgo-rank.sm.master-guardian-ii {
  background-position: 0 -120px
}

.csgo-rank.sm.master-guardian-elite {
  background-position: 0 -120px
}

.csgo-rank.sm.silver-elite-master {
  background-position: 0 -120px
}

.csgo-rank.sm.silver-elite {
  background-position: 0 -120px
}

.csgo-rank.sm.distinguished-master-guardian {
  background-position: 0 -120px
}

.csgo-rank.sm.legendary-eagle-master {
  background-position: 0 -120px
}

.csgo-rank.sm.supreme-master-first-class {
  background-position: 0 -120px
}

.csgo-rank.sm.the-global-elite {
  background-position: 0 -120px
}

.csgo-rank.sm.legendary-eagle {
  background-position: 0 -120px
}

/*LOL RANK TODO (POSITION)*/
.lol-rank{
  background-image: url(../media/common/csgo-rank.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.lol-rank.md{
  background-size: 60px;
  width: 60px;
  height: 60px
}

.lol-rank.sm {
  background-size: 30px;
  width: 60px;
  height: 40px
}
 
/*130*/
.lol-rank.sm.bronze-i{
  background-position: -20px -40px; 
}

.lol-rank.sm.bronze-ii {
  background-position: 0 -170px
}

.lol-rank.sm.bronze-iii {
  background-position: 0 -300px
}

.lol-rank.sm.bronze-vi {
  background-position: 0 -430px
}

.lol-rank.sm.bronze-v {
  background-position: 0 -560px
}

.lol-rank.sm.silver-i {
  background-position: 0 -690px
}

.lol-rank.sm.silver-ii {
  background-position: 0 -820px
}

.lol-rank.sm.silver-iii {
  background-position: 0 -950px
}

.lol-rank.sm.silver-iv {
  background-position: 0 -1080px
}

.lol-rank.sm.silver-v {
  background-position: 0 -1210px
}

.lol-rank.sm.gold-i {
  background-position: 0 -1340px
}

.lol-rank.sm.gold-ii {
  background-position: 0 -1470px
}

.lol-rank.sm.gold-iii {
  background-position: 0 -1600px
}

.lol-rank.sm.gold-vi {
  background-position: 0 -1730px
}

.lol-rank.sm.gold-v {
  background-position: 0 -1860px
}

.lol-rank.sm.platinum-i {
  background-position: 0 -1990px
}

.lol-rank.sm.platinum-ii {
  background-position: 0 -2120px
}

.lol-rank.sm.platinum-iii {
  background-position: 0 -2250px
}

.lol-rank.sm.platinum-vi {
  background-position: 0 -2380px
}

.lol-rank.sm.platinum-v {
  background-position: 0 -2510px
}

.lol-rank.sm.diamond-i {
  background-position: 0 -2640px
}

.lol-rank.sm.diamond-ii {
  background-position: 0 -2770px
}

.lol-rank.sm.diamond-iii {
  background-position: 0 -2900px
}

.lol-rank.sm.diamond-vi {
  background-position: 0 -3030px
}

.lol-rank.sm.diamond-v {
  background-position: 0 -3160px
}

.lol-rank.sm.platinum-master {
  background-position: 0 -3290px
}

.lol-rank.sm.platinum-challenger {
  background-position: 0 -3420px
}

.GameStatsCard-container{
  margin-top: 130px;
}
.GameStatsCard{
  width: 100%;
  height: 400px;
  background-color: #5bb7db;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  border: 3px solid #1D1D1D;
  border-radius: 5px;
  transform: scale(1);
  transition: all 150ms ease-in;
}
.GameStatsCard:hover{
  transform: scale(1.1);
}
.GameStatsCard-bg-dota2{
  background-image: url('../media/GameStatsCard-dota2.png');
}
.GameStatsCard-bg-lol{
  background-image: url('../media/GameStatsCard-lol.png');
}
.GameStatsCard-bg-csgo{
  background-image: url('../media/GameStatsCard-csgo.png');
}
.GameStatsCard-header{
  background-image: url(../media/common/logo_sprite.png);
  background-position: -320px -25px;
  width: 150px;
  height: 50px;
  margin: 25px auto;
}
.GameStatsCard-logo-dota2{
  background-position: -305px -25px;
}
.GameStatsCard-logo-lol{
  background-position: -155px -25px;
}
.GameStatsCard-logo-csgo{
  background-position: -0px -25px;
}

.GameStatsCard-body, .GameStatsCard-footer{
  text-align: center;
  color: white;
  text-decoration: none;
}
.GameStatsCard-footer{
  margin-top: 50%;
}
























