.ProfilePage{
    background-color: #141414;
    padding: 20px 30px;
}
.ProfilePage .tab-content{
    padding-top: 20px;
}

.GameSelectorBar{
    padding: 20px 15px;
    background-color: black;
    background-color: black;
    border-bottom: 2px solid #e60000;
    box-shadow: 0px 6px 14px -6px rgba(237,0,40,1);
}
.GameSelectorBar-gameIcon {
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    background-image: url(../media/common/logo_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 10px;    
    background-position: -299px -250px;
}
.GameSelectorBar-gameIcon:hover{
    opacity: 1;
}
.GameSelectorBar-gameIcon-selected{
    opacity: 1;
    cursor: auto;
}

.GameSelectorBar-gameIcon-mateaddme{
    background-position: -493px -117px; 
    width: 95px;
    height: 30px;
}
.GameSelectorBar-gameIcon-dota2{
    background-position: -320px -117px; 
    width: 75px;
    height: 30px;
}
.GameSelectorBar-gameIcon-lol{
    background-position: -167px -117px; 
    width: 75px;
    height: 30px;   
}
.GameSelectorBar-gameIcon-csgo{
    background-position: 0px -117px; 
    width: 75px;
    height: 30px;
}

#isActive{
    position: relative;
    top: 5px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/* Others none Componets */
.addGameButton{
    margin-right: 20px;
}