
.UserPage{
    background-color: #2f2f2f;
}
.UserTable{
   
}
.UserTable table{
    width: 100%;
}
.UserTable th{
    padding: 20px 10px;
    background-color: #5bb7db;
    border-bottom: 3px solid;
}
.UserTable tbody > tr:nth-child(2n){
    background-color: #38687b;
}
.UserTable tbody > tr::nth-child(1n){
    background-color: #5bb7db;
}
.UserTable tbody > tr:hover{
    color: #EE0035;
}
